@import "../../assets/sass/variables.scss";
@import "../../assets/sass/mixins";


header{
    display: flex;
    justify-content: space-between;
    max-height: 160px;
    padding: 0 6rem;
    align-items: center;

    .logo{
        img{
            width: 200px;
            height: auto;
        }
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        .navbar{
            ul{
                display: flex;
                li{
                    padding: 1rem 2rem;
                    list-style: none;
                    a{
                        color: $color2;
                        text-decoration: none;
                        font-size: $fontSize-xs;
                        font-family: $fontSecondaire;
                        text-transform: uppercase;
                        @include transition();
                        &:hover{
                            color: $color4;
                        }
                    }
                }
            }
            
        }
        .user-ico{
            a{
                color: $color4;
                .mat-icon{
                    font-size: $fontSize-l;
                }
            }
        }
    }
}

