
<section class="about">
    <div class="cell-right">
        <div class="title">
            <h2 class="about-title">{{aboutTitle}}</h2>
        </div>
        <div class="about-text">
            <p>{{aboutText}}</p>
        </div>
        <div class="about-action">
            <a mat-raised-button href="#" class="about-btn">Lire +</a>
        </div>
    </div>
    <div class="cell-left">
        <div class="about-img">
            <img src="../../assets/images/bg/bg1.jpg" alt="">
        </div>
    </div>
    
    
</section>


