// Main Colors

$white: #FFFFFF;
$black: #000000;
$color1: #0B222E;
$color2: #52786D;
$color3: #6C9286;
$color4: #289DD2;




// Font

$fontPrincipal: 'PlayfairDisplay-Italic';
$fontSecondaire: 'Hammersmith';
$fontBody: 'Poppins';

$fontSize-xs:16px;
$fontSize-xs2:18px;
$fontSize-xs3:20px;
$fontSize-s:24px;
$fontSize-m:32px;
$fontSize-l:40px;
$fontSize-l2:56px;
$fontSize-l3:64px;
$fontSize-xl:72px;


// Borders
$border1: 1px solid;
$borderRadius:15px;